*{
    font-family: monospace, Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    
}

h1{
    text-align: center;
}

.navbar ul{
    list-style: none;
    background-color: rgb(141, 236, 248);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
   
    
}

.navbar a{
    color: rgb(5, 5, 219);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 25px;
}

.navbar a:hover{
    color: rgb(5, 6, 7);
    background-color: rgb(7, 190, 190);
    font-size: 28px;
    transition: background-color 0.5s ease;
    transition: font-size 0.5s ease; 
}

.navbar li{
    float: left;
}

main{
    margin-right: 20px;
    margin-left: 20px;
}

header{
    text-align: center;
    padding: 20px;
    background-image: url(images/mech.jpg);
    background-color: rgba(204, 204, 204, 0.5); 
    
}

.navbar::before{
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    position: absolute;
}