* {
    font-family: monospace, arial;
    font-weight: 100;

}

header{
    

}

h1{
    padding: 10px 50px;
}

button{
    border-radius: 10px;
    background-color: rgb(176, 255, 255);
    font-size: large;
    cursor: pointer;   
    padding: 9px 15px  
              
}

button:hover{
    background-color: #35d4fc;
    font-size: 1.3em;
    box-shadow: 2px 2px 4px rgb(255, 144, 144);
    display: inline-block;
    transition: background-color 0.5s ease;
    transition: font-size 0.5s ease;
}


button:active{
    background-color: #013f4e;
}

span{ 
    display: none;
}

button:hover + span {
    display: inline-block;
}
div{
    padding: 50px;
}

body{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background: hsl(0%, 100%, 50%);
    background-position: center;
    width: auto;
    display: inline-block;
    vertical-align: top;
}






