* {
    text-align: center;
    font-family: monospace;
}



.song-title {
    font-size: 50px;
    line-height: 0%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
    
}

.audio-file {
    
}

.video-play {
    width: 500;
}

.lyrics {
    font-family: monospace;
    font-size: large;
}

.background {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

.button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #a6c1ee;
}

